@page "/dashboard/announcements/add-announcement"
@using Core.Models;
@inject HttpClient httpClient
@attribute [Authorize(Roles = "Admin, Moderator")]

<nav class="mt-4 mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/dashboard/announcements">Announcements</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Announcement</li>
    </ol>
</nav>
<AnnouncementForm IsEdit="false" Announcement="announcement" OnSubmitted="PostAnnouncementAsync" />

@code {
    Announcement announcement = new Announcement();

    public async Task PostAnnouncementAsync(Announcement announcement)
    {
        await httpClient.PostJsonAsync("api/announcements", announcement);
    }
}