@page "/dashboard/announcements/edit-announcement/{id:int}"
@using Newtonsoft.Json;
@inject HttpClient httpClient
@attribute [Authorize(Roles = "Admin, Moderator")]

<Breadcrumb Items="breadcrump" />

@if (announcement != null)
{
    <AnnouncementForm IsEdit="true" Announcement="announcement" OnSubmitted="UpdateAnnouncementAsync" />
}
else
{
    <div class="progress">
        <div class="progress-bar progress-bar-indeterminate" role="progressbar"></div>
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    Announcement announcement;

    protected override async Task OnInitializedAsync()
    {
        announcement = await httpClient.GetJsonAsync<Announcement>("api/announcements/" + Id);
    }

    public async Task UpdateAnnouncementAsync(Announcement editedAnnouncement)
    {
        await httpClient.SendJsonAsync(HttpMethod.Put, "api/announcements", editedAnnouncement);
    }

    Dictionary<string, string> breadcrump = new Dictionary<string, string>()
    {
        { "Dashboard", "" },
        { "Announcements", "/dashboard/announcements" },
        { "Edit Announcement", "" }
    };
}