@page "/counter"
@inject HttpClient httpClient
@using Core.Models
@using Newtonsoft.Json

<AuthorizeView>

</AuthorizeView>

<h1>Find Player</h1>

<input type="number" @bind-value="@this.steamId" @onkeydown="GetPlayerAsync" />

@if (player != null)
{
    <div>
        <span>Name: </span> <b>@player.PlayerName</b>
        <span>Country: </span> <b>@player.PlayerCountry</b>
    </div>
}
else
{
    <span>Searching...</span>
}


@code {
    Int64 steamId;
    Player player;

    async Task GetPlayerAsync()
    {
        player = null;
        var response = await httpClient.GetAsync("/api/players/" + steamId);

        Console.WriteLine(response.StatusCode.ToString());

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            player = JsonConvert.DeserializeObject<Player>(await response.Content.ReadAsStringAsync());
        }
    }
}
