@page "/"

<br />
<br />
@*<AuthorizeView>
    <Authorized>
        Hello @context.User.Identity.Name! <br />
        <form action="/signout" method="post">
            <button class="btn btn-info" type="submit">Sign Out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <form action="/signin" method="post">
            <button class="btn btn-info" type="submit">Sign In</button>
        </form>
    </NotAuthorized>
</AuthorizeView>*@
