@page "/support"

<h3>Support</h3>

<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="card-group">
            <div class="card mx-lg-auto" style="max-width: 300px;">
                <img class="card-img-top" src="/img/Discord.png" style="max-width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Discord Guild</h5>
                    <p class="card-text">Our Discord guild is best place for you to ask simple questions to whole community, so not only website administrators will can answer you!</p>
                </div>
            </div>
            <div class="card mx-lg-auto" style="max-width: 300px;">
                <img class="card-img-top" src="/img/Discord.png" style="max-width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <div class="card mx-lg-auto" style="max-width: 300px;">
                <img class="card-img-top" src="/img/Discord.png" style="max-width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
</div>
