@inherits LayoutComponentBase

<div aria-hidden="true" class="navdrawer navdrawer-permanent" tabindex="-1">
    <div class="navdrawer-content">
        <div class="navdrawer-header">
            <a class="navbar-brand px-0" href="#">Dashboard</a>
        </div>
        <nav class="navdrawer-nav">
            <a class="nav-item nav-link" href="/dashboard">Summary</a>
        </nav>
        <div class="navdrawer-divider"></div>
        <p class="navdrawer-subheader">Website Management</p>
        <ul class="navdrawer-nav">
            <li class="nav-item">
                <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link" href="/dashboard/announcements">Announcements</a>
            </li>
            <li class="nav-item">
                <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link" href="/dashboard/products">Products</a>
            </li>
            <li class="nav-item">
                <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link" href="/dashboard/tickets">Tickets</a>
            </li>
        </ul>
        <div class="navdrawer-divider"></div>
        <p class="navdrawer-subheader">Servers Management</p>
        <ul class="navdrawer-nav">
            <li class="nav-item">
                <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link" href="/dashboard/servers">Servers</a>
            </li>
            <li class="nav-item">
                <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link" href="/dashboard/punishments">Punishments</a>
            </li>
            <li class="nav-item">
                <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link" href="/dashboard/ranks">Ranks</a>
            </li>
        </ul>
    </div>
</div>

<div class="main mb-5">
    <div class="content px-4">
        @Body
    </div>
</div>
<footer class="page-footer font-small blue">
        <div class="footer-copyright bg-light text-center py-3">
        © @DateTime.Now.Year Copyright <a href="https://RestoreMonarchy.com"> RestoreMonarchy.com</a>
    </div>    
</footer>