<header class="navbar navbar-dark navbar-full bg-primary doc-navbar-default">
    <button aria-controls="navdrawerDefault" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler" data-target="#navdrawerDefault" data-toggle="navdrawer"><span class="navbar-toggler-icon"></span></button>
    <span class="navbar-brand mr-auto">Restore Monarchy</span>
</header>

<div class="navdrawer navdrawer-default" id="navdrawerDefault" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="navdrawer-content">
        <div class="navdrawer-header">
            <a class="navbar-brand px-0" href="javascript:void(0)">Navdrawer header</a>
        </div>
        <nav class="navdrawer-nav">
            <a class="nav-item nav-link active" href="javascript:void(0)">Active</a>
            <a class="nav-item nav-link disabled" href="javascript:void(0)">Disabled</a>
            <a class="nav-item nav-link" href="javascript:void(0)">Link</a>
        </nav>
        <div class="navdrawer-divider"></div>
        <p class="navdrawer-subheader">Navdrawer subheader</p>
        <ul class="navdrawer-nav">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)"><i class="material-icons mr-3">alarm_on</i> Active with icon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)"><i class="material-icons mr-3">alarm_off</i> Disabled with icon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)"><i class="material-icons mr-3">link</i> Link with icon</a>
            </li>
        </ul>
    </div>
</div>