@inject NavigationManager navigation
<header class="navbar navbar-dark navbar-full bg-primary doc-navbar-default">
    <button aria-controls="navdrawerDefault" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler" data-target="#navdrawerDefault" data-toggle="navdrawer"><span class="navbar-toggler-icon"></span></button>
    <a href="/" class="navbar-brand mr-auto">Restore Monarchy</a>
    <AuthorizeView>
        <Authorized>
            <a class="link" href="/account"><img src="data:image;base64,@context.User.FindFirst("Avatar").Value" width="35" height="35" class="rounded-circle" /></a>
            <a class="nav-link font-weight-bold mr-sm-2" href="/account">@context.User.FindFirst("PlayerName").Value</a>
            <form action="/signout" method="post">
                <button class="btn btn-info mr-sm-2" type="submit">Sign Out</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <form action="/signin" method="post">
                <button class="btn btn-info mr-sm-2" type="submit">Sign In</button>
            </form>
        </NotAuthorized>
    </AuthorizeView>
</header>

<div class="navdrawer navdrawer-default" id="navdrawerDefault" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="navdrawer-content">
        <div class="navdrawer-header">
            <a class="navbar-brand px-0" href="javascript:void(0)">Restore Monarchy</a>
        </div>
        <nav class="navdrawer-nav">
            <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-item nav-link" href="/">Home</a>
            <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-item nav-link" href="/shop">Shop</a>
            <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-item nav-link" href="/support">Support</a>
        </nav>
        <AuthorizeView Roles="Admin, Moderator">
            <Authorized>
                <div class="navdrawer-divider"></div>
                <p class="navdrawer-subheader">Dashboard</p>
                <ul class="navdrawer-nav">
                    <li class="nav-item">
                        <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link active" href="/dashboard/announcements">Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link active" href="/dashboard/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link active" href="/dashboard/tickets">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="navdrawer" data-target="#navdrawerDefault" class="nav-link active" href="/dashboard/punishments">Punishments</a>
                    </li>
                </ul>
            </Authorized>
        </AuthorizeView>
    </div>
</div>