@page "/shop/checkout/{ProductId:int}"

<br />
<br />
<ShopStepper active="2" />

<h1>Product @ProductId</h1>

<!-- PayPal Logo -->
<table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr>
    <tr>
        <td align="center">
            <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" 
               onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
            </a>
        </td>
    </tr>
</table><!-- PayPal Logo -->
<h3>PayPal, PaySafeCard, Wallet</h3>

@code {
    [Parameter]
    public int ProductId { get; set; }
}