@page "/shop/checkout/{ProductId:int}"
@inject HttpClient httpClient

<br />
<br />
<ShopStepper active="2" />

@if (product != null)
{
    <h1>You are purchasing @product.Name for @product.Price.ToString("C")</h1>
}
else
{
    <ProgressBar />
}

<h3>PayPal, PaySafeCard, Wallet</h3>

@code {
    [Parameter]
    public int ProductId { get; set; }

    private Product product;

    protected override async Task OnInitializedAsync()
    {
        product = await httpClient.GetJsonAsync<Product>("api/products/" + ProductId);
    }
}